.dropzone {
  border: 2px dashed #0087F7 !important;
  border-radius: 5px;
}

.uploadButton {
  margin-bottom: 0.3%;
}

.alert-danger{
    margin-top: 0.45% !important;
}
.btn, .mx-button{
    margin-bottom: 0.70% !important ;
}

.dropzone, .dz-clickable, .dz-started{
    display: grid !important ;
    opacity: unset !important;
}
.dropzone .dz-preview .dz-details {
    opacity: unset;
    z-index: unset !important;
    padding: unset !important;
}
.dz-table{
    position: relative;
}
.dz-progress{
    /* margin-left: 40% !important; */
    background-color: blue !important;
}
.dz-details{
    position: relative !important;
}
.dz-progress{
    margin-left: 42% !important;
}
.dz-filename{
    font-family: sans-serif;
    font-size: large;
    margin-left: 20px
}
.progress-circle {
    font-size: 20px;
    margin: 20px;
    position: relative; /* so that children can be absolutely positioned */
    padding: 0;
    width: 5em;
    height: 5em;
    background-color: #F2E9E1;
    border-radius: 50%;
    line-height: 5em;
       float: left;
       margin-left: 60px;
 }
 .progress-circle:after{
    border: none;
    position: absolute;
    top: 0.35em;
    left: 0.35em;
    text-align: center;
    display: block;
    border-radius: 50%;
    width: 4.3em;
    height: 4.3em;
    background-color: white;
    content: " ";
}
.progress-circle span {
    position: absolute;
    line-height: 5em;
    width: 5em;
    text-align: center;
    display: block;
    color:green;
    z-index: 2;
}

.left-half-clipper {
    /* a round circle */
    border-radius: 0%;
    width: 5em;
    height: 5em;
    position: absolute; /* needed for clipping */
    clip: rect(0, 5em, 5em, 2.5em); /* clips the whole left half*/
 }
 .progress-circle.p100 .value-bar { transform: rotate(360deg); }

 .progress-circle.over50 .first50-bar {
    /*Progress bar for the first 50%, filling the whole right half*/
   /* position: absolute; /*needed for clipping*/
    clip: rect(0, 10em, 10em, 2.5em);
    background-color:green;
    border-radius: 50%;
    width: 5em;
    height: 5em;
 }

