<div class="dz-preview dz-file-preview">
                <div class="dz-details">
                <table class="dz-table">
                <tr>
                <td>
                <div class="dz-img">
                <img data-dz-thumbnail />
            </div>
                </td>
                <td>
                <div class="dz-members">
                <div class="dz-filename"><span data-dz-name></span></div>
                <div class="dz-size" data-dz-size></div>
                <a class="dz-remove" href="javascript:undefined;" data-dz-remove="">Remove file</a>
            </div>
                </td>
                <td class="dz-td">
                <div class="progress-circle over50 p100">
                    <span>✔</span>
                    <div class="left-half-clipper">
                    <div class="first50-bar"></div>
                    <div class="value-bar"></div>
                </div>
                <!-- <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                    <div class="dz-success-mark"><span>✔</span></div>
                    <div class="dz-error-mark"><span>✘</span></div> -->
                    <div class="dz-error-message"><span data-dz-errormessage></span></div>
                </td>
                </tr>
                </table>
          </div>`